


<!DOCTYPE html>
<html lang="ja">
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width,initial-scale=1" />
                <title>speech translation</title>
                <link rel="stylesheet" href="css/style.css" />
        </head>
	<body>
		<p>
			<div class="inline-block">
				Audio input device:
			</div>
                        <div class="inline-block" id="div_for_audio_input_devices">
                                <select v-model="selectedAudioInputDevice">
                                        <option v-for="device in audioInputDevices" v-bind:value="device.deviceId">
                                        {{ "{{device.label}}" }}
                                        </option>
                                </select>
                        </div>
		</p>
		<p>
			<div class="inline-block">
				Audio output device:
			</div>
			<div class="inline-block" id="div_for_audio_output_devices">
				<select v-model="selectedAudioOutputDevice" v-on:change="setSkinId">
					<option v-for="device in audioOutputDevices" v-bind:value="device.deviceId">
					{{ "{{device.label}}" }}
					</option>
				</select>
			</div>
		</p>
		<p>
			<div id="noise-suppression">
				noise supression
				<input type="checkbox" v-model="checked" />
			</div>
		</p>
		<p>
			<div class="inline-block">
				input language:
			</div>
			<div class="inline-block" id="div_for_input_languages">
				<select v-model="selectedInputLanguage">
					<option>ja-JP</option>
					<option>en-US</option>
					<option>en-GB</option>
					<option>en-AU</option>
					<option>fr-FR</option>
					<option>nl-NL</option>
					<option>de-DE</option>
					<option>it-IT</option>
					<option>ko-KR</option>
					<option>ru-RU</option>
					<option>sv-SE</option>
					<option>tr-TR</option>
				</select>
			</div>
			<div class="inline-block">
				output language:
			</div>
			<div class="inline-block" id="div_for_output_languages">
				<select v-model="selectedOutputLanguage">
					<option>ja-JP</option>
					<option>en-US</option>
					<option>en-GB</option>
					<option>en-AU</option>
					<option>fr-FR</option>
					<option>nl-NL</option>
					<option>de-DE</option>
					<option>it-IT</option>
					<option>ko-KR</option>
					<option>ru-RU</option>
					<option>sv-SE</option>
					<option>tr-TR</option>
				</select>
			</div>
		</p>
		<p>
			<div class="inline-block">
				output gender:
			</div>
			<div class="inline-block" id="div_for_output_gender">
				<select v-model="selectedOutputGender">
					<option>male</option>
					<option>female</option>
				</select>
			</div>
		</p>
		<p>
			<div class="inline-block">
				<button class="button" type="button" onclick="startRecording();">start recording</button>
			</div>
			<div class="inline-block">
				<button class="button" type="button" onclick="stopRecording();">stop recording</button>
			</div>
			<div id="start_lamp" class="border-radius background-color-gray inline-block"></div>
		</p>
		<p>
			<audio id="output_audio" controls autoplay></audio>
                </p>

		<p>
			<a id="recoarded_audio" target="_blank"></a>
		</p>

		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
		<script type='text/javascript' src="js/media.js"></script>
        </body>
</html>

